@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@600;700&display=swap');

/* resetando todo o css default do navegador */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

main.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.card {
    background: white;
    width: 263px;
    height: 386px;
    
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.25);
    border-radius: 16px 50px 16px 16px;

    position: relative;
}

.card-image {
    position: absolute;

    top: -200px;
    right: -120px;
}

.card-content {   
    padding: 120px 20px 0;
    font-family: 'Montserrat', sans-serif;
}

h1.title {
    color: #29455F;
    font-size: 26px;
    line-height: 32px;
}

h2.subtitle {
    font-family: 'Montserrat', sans-serif;
    color: #8F8F8F;
    font-size: 14px;
    line-height: 17px;
}

p.price {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #29455F;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

p.price > span {
    color: #808080;
    font-size: 14px;
    line-height: 19px;
}

.colors {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

p.colors-title {
    color: #808080;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;  
}

p.colors-options {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

p.colors-options > span.option {
    width: 21px;
    height: 21px;
    left: 241px;
    top: 586px;
    border-radius: 30px;

    background: #B5DB48;
}

p.colors-options > span.option:nth-child(2) {
    width: 18px;
    height: 18px;
    margin-left: 20px;
    background: #FF3838;
}

p.colors-options > span.option:nth-child(3) {
    width: 18px;
    height: 18px;
    margin-left: 20px;
    background: #3864FF;
}

.size {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

p.size-title {
    font-family: 'Open Sans', sans-serif;  
    color: #808080;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

p.size-numbers {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

p.size-numbers > span.number {
    width: 23px;
    height: 16px;
    left: 239px;
    top: 650px;

    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border-radius: 5px;

    color: #FFFFFF;
    background: #B5DB48;
}

p.size-numbers > span.number:nth-child(n+2) {
    width: 23px;
    height: 16px;
    margin-left: 10px;
    color: #808080;

    background: white;
}

.buy {
    position: absolute;
    width: 49px;
    height: 80px;
    left: 195px;
    top: 254px;

    background: #B5DB48;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.buy-navigation-1 {
    position: relative;
    left: 18px;
    top: 15px;
}

.buy-navigation-2 {
    position: relative;
    left: 2px;
    top: 20px;
}

.buy-navigation-3 {
    position: relative;
    left: -15px;
    top: 25px;
}

.buy-store {
    position: relative;
    left: 12px;
    top: 25px;
}
